{% extends 'items/base_app.html' %}

{% block title %}
	Категория "{{ cat }}" - {{ block.super }}
{% endblock %}

{% block content %}

	{% load static %}
	<h1 class="ml-5" style="font-weight: 800; font-size: 50px;">Результаты поиска "{{ query }}":</h1>

	{% for product in search_products %}

	    <div class="container-fluid col-7" id="search__block">
	    	<div class="media">
	    		{% if product.picture.url %}
	    			<img src="{{ product.picture.url }}" class="mr-3" alt="..." width="210px" height='auto'>
	    		{% endif %}
	    		<div class="media-body">
	    			<h5 class="mt-0"><a href="{% url 'product_detail_page' id=product.id %}">{{ product.title }}</a></h5>
	    			<h5 class="mt-0" style="color: #ff8d02;"><b>{% if product.status == 'цена' %} {{ product.set_price }} {% else %} {{ product.price }} {% endif %} <i class="fas fa-ruble-sign"></i></b></h5>
	    			<p class="card-text">
	    				<small>{{ product.desc|truncatewords:25 }}</small>
	    			</p>
	    		</div>
	    	</div>
	    </div>
	{% empty %}
		<br/>
		<div class="container col-4"><img width="450px" height="auto" src="{% static 'images/sorry_picture.png' %}" alt=""></div>
		
    {% endfor %}

{% endblock %}