<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3>Контакты</h3>
                <p><i class="fas fa-address-card"></i> Звоните и уточняйте информацию по телефону 8 (999) 881-00-56</p>
                <p><i class="fab fa-vk"></i> Группа в вк</p>
                <p><i class="fab fa-instagram"></i> Instagram</p>

            </div>
            <div class="col-6">
                <h3>Сотруднечество</h3>
                <p><i class="fas fa-at"></i> Есть вопросы или пожелания, пишите на почту SUPPORT@IDTTEAM.COM</p>
                <p><i class="fab fa-vk"></i> По рекламным запросам пишите Горбачёву Артёму</p>
                </p>
                <p><i class="far fa-copyright"></i> &copyINTERNET-DEVELOPMENT-TEAM</p>
            </div>
        </div>
    </div>
</div>

