<h2 class="main__text">Выбрать категорию товара</h2>

<div class="container col-6">
	
	<div class="block__kategories">
		<a href="{% url 'category_page' cat=1 %}" style="text-decoration: none;">
            <div class="pic1">
                <h4 class="block__kat__link" align="center">Камеры</h4>
            </div>
        </a>

        <a href="{% url 'category_page' cat=2 %}" style="text-decoration: none;">
            <div class="pic2">
                <h4 class="block__kat__link" align="center">Action-камеры</h4>
            </div>
        </a>
    </div>
</div>